@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #212529 !important;
  font-size: 0.9rem;
  padding-right: 0 !important;
}
.poppins {
  font-family: "Poppins", sans-serif;
}
.transparent {
  color: #ffffff00;
  background-color: transparent;
}
.text-primary {
  color: #ab55ac !important;
}
.preloader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 7;
  background: #ffffff;
}
.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
  width: 120px;
  height: 120px;
  --s: 30px;
  background: #ab55ac;
  border-radius: 50%;
  animation: s9 2s infinite linear;
  clip-path: polygon(
    0 0,
    calc(50% - var(--s)) 0,
    50% var(--s),
    calc(50% + var(--s)) 0,
    100% 0,
    100% calc(50% - var(--s)),
    calc(100% - var(--s)) 50%,
    100% calc(50% + var(--s)),
    100% 100%,
    calc(50% + var(--s)) 100%,
    50% calc(100% - var(--s)),
    calc(50% - var(--s)) 100%,
    0 100%,
    0 calc(50% + var(--s)),
    var(--s) 50%,
    0 calc(50% - var(--s))
  );
}
.loader-green {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
  width: 120px;
  height: 120px;
  --s: 30px;
  background: #31572c;
  border-radius: 50%;
  animation: s9 2s infinite linear;
  clip-path: polygon(
    0 0,
    calc(50% - var(--s)) 0,
    50% var(--s),
    calc(50% + var(--s)) 0,
    100% 0,
    100% calc(50% - var(--s)),
    calc(100% - var(--s)) 50%,
    100% calc(50% + var(--s)),
    100% 100%,
    calc(50% + var(--s)) 100%,
    50% calc(100% - var(--s)),
    calc(50% - var(--s)) 100%,
    0 100%,
    0 calc(50% + var(--s)),
    var(--s) 50%,
    0 calc(50% - var(--s))
    );
}
@keyframes s9 {
  100% {
    transform: rotate(1turn);
  }
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #ab55ac;
}
.navbar-toggler {
  border-color: transparent !important;
}
.navbar-toggler:focus {
  box-shadow: 0px 0px 0px 1px #ab55ac !important;
}
.height {
  height: 400vh;
}
.sticky-top {
  z-index: 2;
}
.bgg {
  background-color: #ab55ac;
  opacity: 1;
  background-image: radial-gradient(circle at center center, #ffffff, #ab55ac),
    repeating-radial-gradient(
      circle at center center,
      #ffffff,
      #ffffff,
      4px,
      transparent 8px,
      transparent 4px
    );
  background-blend-mode: darken;
}
.bgg-nav {
  background: #ab55ac;
}
.index-1 {
  z-index: 1;
}
#hero {
  height: 35rem;
}
.bg-nav {
  background-color: #ab55ac00;
}
.bg-inherit {
  background-color: initial;
}
.border {
  border: 2px solid #fff;
}
.contain {
  height: inherit;
  width: inherit;
  object-fit: contain;
}
.overlap {
  margin-top: -10em;
}
.cover {
  object-fit: cover;
}
.standard-height {
  height: 35rem;
}
.bg-primary {
  background-color: #ab55ac !important;
}
.text-primary-dark {
  color: #8a448a !important;
}
.values-height {
  min-height: 7.5rem;
}
.bg-darker {
  background: #442244 !important;
}
#downloadapp {
  background-color: #8a448a;
}
.bg-grey {
  background-color: #f7f7fb;
}
.contact-height {
  min-height: 6rem;
}
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #ab55ac;
  --bs-btn-border-color: #ab55ac;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #8a448a;
  --bs-btn-hover-border-color: #642264;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #642264;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #ab55ac;
  --bs-btn-disabled-border-color: #ab55ac;
}
.btn-outline-primary {
  --bs-btn-color: #ab55ac;
  --bs-btn-border-color: #ab55ac;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #ab55ac;
  --bs-btn-hover-border-color: #ab55ac;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ab55ac;
  --bs-btn-active-border-color: #ab55ac;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #ab55ac;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ab55ac;
  --bs-gradient: none;
}
#calltoaction {
  min-height: 7rem;
  background-size: cover;
  overflow: hidden;
  position: inherit;
  opacity: 1;
  background-image: radial-gradient(circle at center center, #ab55ac, #ab55ac),
    repeating-radial-gradient(
      circle at center center,
      #ab55ac,
      #ab55ac,
      10px,
      transparent 20px,
      transparent 10px
    );
  background-blend-mode: multiply;
}
#footer {
  background-color: #201620;
  min-height: 20rem;
}
.offcanvas,
.offcanvas-xxl,
.offcanvas-xl,
.offcanvas-lg,
.offcanvas-md,
.offcanvas-sm {
  --bs-offcanvas-zindex: 1045;
  --bs-offcanvas-width: 100%;
  --bs-offcanvas-height: 100%;
  --bs-offcanvas-padding-x: 1rem;
  --bs-offcanvas-padding-y: 1rem;
  --bs-offcanvas-color: var(--bs-body-color);
  --bs-offcanvas-bg: var(--bs-body-bg);
  --bs-offcanvas-border-width: var(--bs-border-width);
  --bs-offcanvas-border-color: var(--bs-border-color-translucent);
  --bs-offcanvas-box-shadow: var(--bs-box-shadow-sm);
  --bs-offcanvas-transition: transform 0.3s ease-in-out;
  --bs-offcanvas-title-line-height: 1.5;
}
.fs-7 {
  font-size: 0.9rem;
}
@media (min-width: 768px) {
  .col-md-6-modified {
    width: 47%;
  }
}
@media (min-width: 992px) {
  .col-lg-3-modified {
    width: 23%;
  }
}
.d-max-width {
  max-width: 170px;
}
.pale-purple-bg {
  background-color: #fbedfd;
}
.pr-0 {
  padding-right: 0;
  padding-left: 0;
}
.vh-75 {
  min-height: 75vh;
}
.bg-green {
  background-image: linear-gradient(90deg, #093028, #237a57);
}
.brightness {
  filter: brightness(1000%) !important;
}
.text-green {
  color: #093028;
}
.hue-green {
  filter: hue-rotate(216deg);
}
